.container-main {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
}

.fhs_order_info {
    background-color: white;
    margin-top: 5px;
    padding: 16px;
}
.fhs_order_info > div {
    font-size: 1.2em;
    margin: 4px 0;
    text-align: center;
}
.fhs_order_info > div:nth-of-type(1) {
    font-size: 2em;
    margin: 16px 0;
    color: #28b928;
    font-weight: 600;
}
.fhs_order_info > div:nth-of-type(3) > span,
.fhs_order_info > div:nth-of-type(3) > span > a {
    color: #f39801;
}
.fhs_order_info .fhs-btn-box {
    margin: 16px 0 8px 0;
}
.fhs-btn-box {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.fhs-btn-box > .fhs-btn-goto,
.fhs-btn-box > .fhs-btn-confirm,
.fhs-btn-box > .fhs-btn-recovery,
.fhs-btn-box > .fhs-btn-register,
.fhs-btn-box > .fhs-btn-login-link,
.fhs-btn-box > .fhs-btn-login {
    background: #c92127;
    color: white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 0.95em;
    font-weight: 600;
}
.fhs-btn-box > button {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 245px;
    max-width: 100%;
    font-size: 1.1em;
    font-weight: 700;
    transition: all 0.3s;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 8px 0;
    margin: 8px 0;
}
input,
select,
textarea,
button {
    font-size: 12px;
    color: #545759;
    background-color: white;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
}
button {
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.fhs_registerquick_info {
    background-color: white;
    margin-top: 11px;
    padding: 0 16px;
}
.fhs_registerquick_info .popup-registerquick-title {
    font-size: 1.4em !important;
}
.popup-registerquick-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 550;
    padding: 24px 8px 8px 8px;
    color: #f39801;
}
.fhs_registerquick_info .popup-change-content-in {
    font-size: 1.2em;
    padding: 0 !important;
}
.fhs_registerquick_info .fhs-registerquick-info {
    padding: 8px calc(50% - 290px) !important;
}
.fhs-registerquick-info > div:first-of-type {
    padding-top: 0 !important;
}
.fhs-registerquick-info > div {
    padding-top: 4px;
    padding-bottom: 4px;
}
.fhs-registerquick-info > div {
    padding-top: 4px;
    padding-bottom: 4px;
}
.fhs-style-bold-600 {
    font-weight: 600;
}
.fhs-info-icon {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.fhs-info-icon > div:first-of-type {
    width: 28px;
    padding-right: 8px;
}
.fhs-registerquick-info > div:last-of-type {
    padding-bottom: 0 !important;
}
.fhs_registerquick_info .popup-change-content {
    padding: 0 16px 0 16px !important;
}
.fhs_registerquick_info .fhs-registerquick-order {
    text-align: center;
}
.fhs-registerquick-order {
    padding: 8px 0;
}
.fhs-registerquick-order > span {
    color: #f39801;
}
.fhs-input-box {
    padding: 8px 0;
    clear: both;
}
.fhs-popup-msg {
    display: block;
    text-align: center;
    padding: 8px 0;
    color: #dc3545;
}
