.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    background-color: white;
    flex: 1;
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.search-bar {
    flex-grow: 1;
    padding: 5px;
    border: none;
    height: 30px;
}

.search-bar:focus {
    outline: none;
}
